@font-face {
  font-family: 'SF-Pro-Text-Semibold';
  src: url(./assets/SF-Pro-Text-Semibold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  background: lightgray;
  font-family: -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}